@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0714;
  @apply text-white
}

.todo-text {
  @apply text-[#9E78CF]
}

.todo-button {
  color: #9E78CF;
  transition: 0.2s ease-in-out;
}

.todo-button:hover {
  color: #3E1671;
}